<h2>Reports on Newspeak</h2>
<% @articles.each do |article| %>
	<ul>
	<%= article.title %><br>
	<%= raw article.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %>
	</ul>
<% end %>

<br>
<br>

<h1>Tag Cloud</h1> <div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
