<div class="text-center inline-block">
  <h1><%= @user.name %>'s News Feed</h1>
</div>

<% if @user.subscriptions.empty? %>
  <div><h3> You don't have any subscriptions. </h3></div>
  <h4>Check out these other <a href="/journalists">journalists</a> and <a href="/articles">articles</a> published on Newspeak.</h4>
<% else %>
  <div>
  <%= render 'partials/newsfeedtemplate' %>
  </div>
<% end %>

