<div class="text-center inline-block">
  <h1><%= @user.name %>'s News Feed</h1>
</div>

<% if @user.subscriptions.empty? %>
  <h3> You don't have any subscriptions. </h3>
<% end %>

<div>
<%= render 'partials/newsfeedtemplate' %>
</div>