<center>
<h1> Newspeak </h1>

<% if current_user %>
<button><%= link_to "Tip", "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=#{current_user.email}&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" %></button>
<% end %>
</center>