<h2> Most Popular Articles: </h5>

	<style>
		.box {
			border: 1px solid grey ;}
	</style>

		<%= render 'partials/mostpopulartemplate' %>
		<br>
		<br>

		<h2>Most Recent Articles: </h5>

			<%= render 'partials/mostrecenttemplate' %>

			<a class="twitter-timeline" href="https://twitter.com/search?q=from%3Awikileaks%20OR%20from%3Aadbusters%20OR%20from%3Acrimethinc%20OR%20from%3Aalternet" data-widget-id="593051258761646080">Tweets about from:wikileaks OR from:adbusters OR from:crimethinc OR from:alternet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>