<h1> Newspeak </h1>


<h4>Real Unbiased News From Citizens Like You</h4>

<h2> Most Popular Articles: </h5>

	<style>
		.box {
			border: 1px solid grey ;}
		</style>

		<%= render 'partials/mostpopulartemplate' %>

		<br>
		<br>

		<h2>Most Recent Articles: </h5>

			<%= render 'partials/mostrecenttemplate' %>
