<h1>Articles Tagged as <%= @tags %></h1>

<% if @articles.count > 0 %>
 <ul>
 <% @articles.each do |article| %>
   <li><%= link_to article.title, article_path(article) %></li>
 <% end %>
 </ul>
<% else %>
 <p>This tag is not associated with any articles.</p>
<% end %>